@charset "utf-8";

.box {
  max-width: 960px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
}
.box div {
  width: 300px;
  height: 300px;
  background-color: blue;
}

.box2 {
  max-width: 960px;
  margin: 30px auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.box2 div {
  width: 300px;
  height: 300px;
  background-color: red;
  margin-bottom: 30px;
}

.toptab {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.title {
  font-size: xx-large;
  font-weight: bold;
  width: 30%;
}

.title2 {
  flex: 1;
  display: flex;
  width: 70%;
}

.title2 ul {
  list-style: none;
  padding: 0px 0px;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.title2 li {
  padding: 0px 10px;
}
.title2 li:not(:last-child)::after {
  content: "|";
  margin-left: 10px;
}

@media screen and (max-width: 767px) {
  .title {
    width: 100%;
  }
  .title2 {
    width: 100%;
  }
  .title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .title2 ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .title2 li :not(:last-child)::after {
    content: none;
  }
}
